<section>
    <p class="headline-4">Olá nomeCompleto ? currentUser.nomeCompleto : <mat-icon class="nav__icon">trending_up</mat-icon></p>
    <p class="subtitle-1">Seja Bem vindo(a)!</p>
    <div class="imagem-bloco">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mapadaobra.com.br%2Fgestao%2Fcontrole-estoque-organizado%2F&psig=AOvVaw0BumytF3qvC9u9MNpqCc-k&ust=1699061797449000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIjxzc3YpoIDFQAAAAAdAAAAABAE" alt="Imagem do dashboard" class="imagem">
    </div>
</section>
