.list_input-column {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}

.button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.valores {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1rem;
}

.valores__int {
  display: flex;
  flex-direction: column;
}

.valores__porcentagem {
  display: flex;
}

.porcentagem {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}




