<div class="buttons">
  <div class="tabs__nav-bar" #navbar >
    <a  class="tab-label mat-elevation-z8" (click)="buscarVendasDoDia()">
      <mat-icon class="nav__icon">
        <span class="material-symbols-outlined">
          currency_exchange
        </span>
      </mat-icon>
      <span class="headline-4 tab-label__title">Visualizar Caixa do dia</span>
    </a>
  </div>
  <div class="tabs__nav-bar" #navbar>
    <a  class="tab-label mat-elevation-z8" (click)="buscarTodas()">
      <mat-icon class="nav__icon">
        <span class="material-symbols-outlined">
          sell
        </span>
      </mat-icon>
      <span class="headline-4 tab-label__title">Visualizar todos</span>
    </a>
  </div>
  <div class="tabs__nav-bar" #navbar >
    <a  class="tab-label mat-elevation-z8" (click)="buscarPorData()" >
      <mat-icon class="nav__icon">
        <span class="material-symbols-outlined">
          sell
        </span>
      </mat-icon>
      <span class="headline-4 tab-label__title" >Visualizar por data</span>
    </a>
  </div>
  <!-- <mat-form-field appearance="outline">
    <div class="data">
      <mat-label>data</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="formData">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </mat-form-field> -->
  <mat-form-field appearance="outline">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="formData" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div>

<mat-card class="example-card" id="htmlData" *ngIf="vendasUnificadas.length">
  <mat-card-header>
    <mat-card-title *ngIf="vendasDia">Vendas do dia {{ vendas[0].datavenda  | date:'dd/MM/yyyy' }}</mat-card-title>
    <mat-card-title *ngIf="!vendasDia">Todas Vendas desde {{ vendas[0].datavenda  | date:'dd/MM/yyyy' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="header">
      <span>cod</span>
      <span>nome</span>
      <span>unidade</span>
      <span>qtd</span>
      <span>total</span>
    </div>
    <ng-container *ngFor="let venda of vendasUnificadas">
      <div class="header">
        <span class="body-2">{{ venda.idproduto }}</span>
        <span class="body-2">{{ venda.nomeproduto }}</span>
        <span class="body-2">{{ venda.valorunidade | currency: 'BRL':'symbol' }}</span>
        <span class="body-2">{{ venda.quantidade }}</span>
        <span class="body-2">{{ venda.total | currency: 'BRL':'symbol' }}</span>
      </div>
    </ng-container>
    <div class="total">
      <h2>Total: {{ calcularSomaTotal() | currency: 'BRL':'symbol' }}</h2>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>FECHAR</button>
    <button mat-button>CANCELAR</button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

