.tabs__nav-bar {
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  justify-content: center;
}

.tab-label {
  text-decoration: none;
  min-width: 89px;
  max-width: 89px;
  height: 89px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3560f1;
  cursor: pointer;
  user-select: none;
  white-space: normal;
}

.nav__icon {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.tab-label__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.buttons {
  display: flex;
}

.table {
  cursor: pointer;
  width: 100%;
  overflow: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.form-field {
  width: 100%;
}

.field {
  width: 100%;
  margin-top: 24px;
  padding: 5px;
}



.main {
  display: flex;
}

.dir__main {
  width: 80%;
}

.todo {
  display: flex;
  justify-content: space-around;
  /* background-color: lavender; */
  width: 85%;
}

.esq {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.esq__inter {
  display: flex;
  width: 93%;
  font-weight: 900;
  margin-top: 10px;
  background-color: #fff0b8;
  min-height: 80%;
  margin-bottom: 14px;
  flex-direction: column;
  align-items: center;
}

.esq__inter-header {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  gap: 1rem;
  padding: 15px;
  margin-bottom: 5px;
  justify-items: center;
  align-items: center;
}

.meio__dois {
  display: flex;
  width: 97%;
  margin-top: 10px;
  flex-direction: column;
  margin-right: 5px;
  /* background-color: lavender; */
  margin-left: 5px;
  padding-bottom: 30px;
  align-items: center;
}

.meio {
  display: flex;
  width: 80%;
  font-size: 17px;
  font-weight: 900;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  align-items: center;
}

.main__principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meio__main {
  width: 95%;
}

.mat-form {
  width: 100%;
  margin-top: 5px;
  padding-bottom: 0px;
  padding-bottom: 0 !important;
}

/* .mat-form-field-wrapper {

} */

.dir {
  display: flex;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
  /* background-color: lavender; */
  flex-direction: column;
  align-items: center;
}

.dir__princ {
  display: flex;
  width: 70%;
  font-size: 20px;
  margin-left: 5px;
  flex-direction: column;
  align-items: center;
}

input {
  font-weight: 900;
}

.input-pesquisa {
  display: flex;
  font-weight: 900;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #3560F1;
  color: white;
  padding: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.header__sub-dir {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.header__sub {
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.sub {
  display: flex;
  width: 92%;
  border-radius: 50px;
  background-color: cadetblue;
  color: white;
  justify-content: center;
}

.sub-meio {
  display: flex;
  width: 90%;
  border-radius: 50px;
  background-color: cadetblue;
  color: white;
  justify-content: center;
}

.totais {
  display: flex;
  border-radius: 50px;
  background-color: darkgrey;
  color: white;
  /* padding: 6px; */
  justify-content: center;
}

.meio__input {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.add-button {
  width: 37%;
}
