.container {
  display: flex;
  background-color: #f9f9fa;
}

.menu-lateral {
  display: flex;
  min-height: 100vh;
  min-width: 114px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 52px;
  padding: 0 20px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.13);
}

.toolbar__tools {
  display: flex;
  align-items: center;
  width: 100%;
}

.toolbar-wrapper {
  display: flex;
  padding: 20px 60px;
}

.toolbar__icon-cinza {
  color: #cacccf;
}

.toolbar__icon-azul {
  color: #3560f1;
}

.toolbar__search {
  flex: 1;
  outline: none;
  border: none;
  height: 50px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.toolbar-options-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  padding-left: 30px;
}

.toolbar__result-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 100%;
  min-height: 14rem;
  background-color: white;
  overflow-y: auto;
  margin-top: 8px;
}

.toolbar__result-linha {
  display: flex;
}

.toolbar__result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.toolbar__result--avatar {
  display: flex;
  align-items: center;
  align-content: center;
  width: 60px;
}

.toolbar-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-bottom: 3px;
  object-fit: cover;
}

.toolbar__result-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.toolbar__result-persona-wrapper {
  width: 100%;
}

.toolbar__result-tipo-persona {
  display: flex;
  margin-top: -24px;
}

.avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-link {
  cursor: pointer;
}

::ng-deep .toolbar-options-wrapper .mat-badge-warn .mat-badge-content {
  color: #ffffff;
}

.page-content {
  padding: 60px;
  max-width: 1440px;
  align-self: center;
  width: 90%;
}
