<div class="buttons">
  <div class="tabs__nav-bar" #navbar (click)="cadastroProduto()">
    <a  class="tab-label">
      <mat-icon class="nav__icon">trending_up</mat-icon>
      <span class="headline-4 tab-label__title">Cadastrar produto </span>
    </a>
  </div>
  <div class="tabs__nav-bar" #navbar >
    <a  class="tab-label">
      <mat-icon class="nav__icon">people</mat-icon>
      <span class="headline-4 tab-label__title">Alterar produto </span>
    </a>
  </div>
  <div class="tabs__nav-bar" #navbar >
    <a  class="tab-label">
      <mat-icon class="nav__icon">delete</mat-icon>
      <span class="headline-4 tab-label__title">Deletar produto </span>
    </a>
  </div>
</div>

<ng-container *ngIf="dataSource.data.length">
  <div class="mat-elevation-z2 field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>BUSCAR PRODUTO</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. FERRO" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Cod </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="qntdEstoque">
      <th mat-header-cell *matHeaderCellDef> Quantidade </th>
      <td mat-cell *matCellDef="let element"> {{element.qntdEstoque}} </td>
    </ng-container>

    <ng-container matColumnDef="valorEntrada">
      <th mat-header-cell *matHeaderCellDef> Valor da entrada </th>
      <td mat-cell *matCellDef="let element"> {{element.valorEntrada | currency: 'BRL':'symbol'}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.valor | currency: 'BRL':'symbol'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</ng-container>





