/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #575757;
}

.shadow-light {
    background: #ffffff !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05) !important;
}

@media (max-width: 1000px) {
    ::ng-deep .cdk-overlay-pane {
        width: 100%;
        height: 100%;
    }
}

.headline-4 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.headline-5 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.headline-6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.caption {
    font-weight: 400;
    font-size: 12px;
    height: 16px;
}

.overline {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    text-transform: uppercase;
}

.subtitle-1 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.subtitle-1-0 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.15px;
}

.subtitle-2 {
    font-weight: 600;
    font-size: 14px;
}

.body-1 {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.38);
}

.body-2 {
    font-weight: 800;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.button {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
