<div class="buttons">
  <div class="tabs__nav-bar" #navbar (click)="criarVenda()">
    <a  class="tab-label mat-elevation-z8">
      <mat-icon class="nav__icon">
        sell
      </mat-icon>
      <span class="headline-4 tab-label__title">Vender</span>
    </a>
  </div>
  <div class="tabs__nav-bar" #navbar>
    <a  class="tab-label mat-elevation-z8">
      <mat-icon class="nav__icon">
        sell
      </mat-icon>
      <span class="headline-4 tab-label__title">Simular Venda</span>
    </a>
  </div>
</div>
