.table {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.form-field {
  width: 100%;
}

.field {
  width: 100%;
  margin-bottom: 10px;
}

.todo {
  display: flex;
  justify-content: space-around;
}

.esq {
  width: 43%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.header {
  isplay: flex;
  justify-content: center;
  margin-bottom: 40px;
}
